<div class="menu-header">
    <div class="logo">CADD CENTER</div>
    <div>
        <ul class="menu">
            <li>Executive Diploma</li>
            <li class="mega-menu-title">
                Our Program
                <div class="container py-1 open-mega-menu">
                    <div class="d-flex gap-3">
                        <div class="w-100">
                            <div class="sub-menu-item-header">Executive Diploma</div>
                            <div class="sub-menu-item-link">Executive Diploma in Product Design</div>
                            <div class="sub-menu-item-link">Executive Diploma in Product Design</div>
                            <div class="sub-menu-item-link">Executive Diploma in Product Design</div>
                            <div class="sub-menu-item-link">Executive Diploma in Product Design</div>
                            <div class="sub-menu-item-link">Executive Diploma in Product Design</div>
                        </div> 
                        <div class="w-100">
                            <div class="sub-menu-item-header">Executive Diploma</div>
                            <div class="sub-menu-item-link">Executive Diploma in Product Design</div>
                            <div class="sub-menu-item-link">Executive Diploma in Product Design</div>
                            <div class="sub-menu-item-link">Executive Diploma in Product Design</div>
                            <div class="sub-menu-item-link">Executive Diploma in Product Design</div>
                            <div class="sub-menu-item-link">Executive Diploma in Product Design</div>
                        </div>                    
                    </div>
                </div>
            </li>
            <li>Customised Training</li>
            <li>Government Aided Training</li>
            <li>Franchise</li>
            <li>Placements</li>
        </ul>
    </div>
</div>