<div class="menu-header">
    <div class="logo">CADD CENTER</div>
    <div>
        <ul class="menu">
            <li>Executive Diploma</li>
            <li class="mega-menu-title">
                <span>Our Program</span>
                <div class="py-1 open-mega-menu">
                    <div class="d-flex gap-3 mt-4 p-3 container menu-container">
                        <div class="w-100 pe-3">
                            <div class="sub-menu-item-header">Civil CAD Training</div>
                            <div class="sub-menu-item-link">Autocad Course</div>
                            <div class="sub-menu-item-link">3DSMAX Course</div>
                            <div class="sub-menu-item-link">Google Sketchup Course</div>
                            <div class="sub-menu-item-link">Revit Architecture Course</div>
                            <div class="sub-menu-item-link">Navis Works Course</div>
                            <div class="sub-menu-item-link">Lumion Course</div>
                            <div class="sub-menu-item-link">Enscape Course</div>
                            <div class="sub-menu-item-link">Staadpro Course</div>
                            <div class="sub-menu-item-link">Revit Structure Course</div>
                            <div class="sub-menu-item-link">Etabs Course</div>
                            <div class="sub-menu-item-link">Quality Survey Course</div>
                            <div class="sub-menu-item-link">Primavera Course</div>
                            <div class="sub-menu-item-link">Microsoft Project Course</div>
                        </div> 
                        <div class="w-100 ps-3">
                            <div class="sub-menu-item-header">Mechanical CAD Training</div>
                            <div class="sub-menu-item-link">Autocad Mechanical Course</div>
                            <div class="sub-menu-item-link">Catia Course</div>
                            <div class="sub-menu-item-link">Creo Course</div>
                            <div class="sub-menu-item-link">NX CAD Course</div>
                            <div class="sub-menu-item-link">Solidworks Course</div>
                            <div class="sub-menu-item-link">Ansys Course</div>
                            <div class="sub-menu-item-link">Hypermesh Course</div>
                            <div class="sub-menu-item-link">Hvac Course</div>
                            <div class="sub-menu-item-link">Revit Mep Course</div>
                            <div class="sub-menu-item-header">Electrical CAD Training</div>
                            <div class="sub-menu-item-link">Autocad Electrical Course</div>
                            <div class="sub-menu-item-link">Electrical cad Course</div>
                            <div class="sub-menu-item-link">E-Plan Course</div>
                            <div class="sub-menu-item-link">Revit Mep Course</div>
                        </div> 
                        <div class="w-100 ps-3">
                            <div class="sub-menu-item-header">BIM Courses</div>
                            <div class="sub-menu-item-link">Autocad Course</div>
                            <div class="sub-menu-item-link">Revit Architecture Course</div>
                            <div class="sub-menu-item-link">Revit Structure Course</div>
                            <div class="sub-menu-item-link">Revit Mep Course</div>
                            <div class="sub-menu-item-link">Navis Works Course</div>
                            <div class="sub-menu-item-link">Enscape Course</div>
                            <div class="sub-menu-item-link">Primavera Course</div>
                            <div class="sub-menu-item-header">Project Management Training</div>
                            <div class="sub-menu-item-link">Autocad Course</div>
                            <div class="sub-menu-item-link">Quality Survey Course</div>
                            <div class="sub-menu-item-link">Primavera P6 Course</div>
                            <div class="sub-menu-item-link">Microsoft Project Course</div>
                        </div>
                        <div class="w-100 ps-3">
                            <div class="sub-menu-item-header">Architecture CAD Courses</div>
                            <div class="sub-menu-item-link">Autocad Course</div>
                            <div class="sub-menu-item-link">3DSMAX Course</div>
                            <div class="sub-menu-item-link">Google Sketchup Course</div>
                            <div class="sub-menu-item-link">Revit Architecture Course</div>
                            <div class="sub-menu-item-link">Vray Course</div>
                            <div class="sub-menu-item-link">Lumion Course</div>
                            <div class="sub-menu-item-link">Enscape Course</div>
                            <div class="sub-menu-item-link">Photoshop Course</div>
                        </div>                   
                    </div>
                </div>
            </li>
            <li>Customised Training</li>
            <li>Government Aided Training</li>
            <li>Franchise</li>
            <li>Placements</li>
        </ul>
    </div>
</div>