<div class="container cadd-body">
    <h3 class="pt-5 text-3xl text-center text-theme-red">CADD Centre Ameerpet: Leading EduTech over 35 years
    </h3>
    <h4 class="text-2xl text-center">Connecting between Learning and Careers</h4>
    <div class="row">
        <div class="col-md-12 col-lg-6 col-sm-12">
            <p class="text-17">For over three decades, CADD Centre has established itself as a trusted institution, transforming the careers of more than 2.5 million learners worldwide with its cutting-edge courses. Our recent introduction of courses in Electric Vehicle Technology and Generative AI demonstrates our commitment to equipping youth with skills for a sustainable future.<br/><br/>

                CADD Centre gained recognition for organizing Job Pakka Fair 2023, India's largest talent search event. This fair presented 15,000 job openings across various cities and industries. With 40,000 students registered and 8,000 already progressing towards their dream careers, our legacy of empowering and transforming lives continues to thrive.<br/><br/>
                
                Beyond the classroom, we motivate the younger generation to push boundaries and engage in sustainable development within their fields. At CADD Centre, we are dedicated to shaping the workforce of tomorrow and fostering a brighter future.</p>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12 d-flex align-items-center">
            <div class="row gap-4 justify-content-center">
                <div class="col-sm-12 col-md-5 p-4 text-center bg-red br-1">
                    <span class="text-theme-red text-3xl font-700 text-center">2M+</span><br />
                    <span class="text-center text-15 font-600 leading-5 ">Engineers and <br> Professionals
                        trained</span>
                </div>
                <div class="col-sm-12 col-md-5 p-4 text-center bg-red br-1">
                    <span class="text-theme-red text-3xl font-700 text-center">700</span><br />
                    <span class="text-center text-15 font-600 leading-5 ">Training centres - <br>
                        Asia's biggest network</span>
                </div>
                <div class="col-sm-12 col-md-5  p-4 text-center bg-red br-1">
                    <span class="text-theme-red text-3xl font-700 text-center">24</span><br />
                    <span class="text-center text-15 font-600 leading-5 ">Global
                        <br> locations </span>
                </div>
                <div class="col-sm-12 col-md-5  p-4 text-center bg-red br-1">
                    <span class="text-theme-red text-3xl font-700 text-center">100+</span><br />
                    <span class="text-center text-15 font-600 leading-5 ">Industry-ready <br> courses</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h4 class="text-center text-theme-red pt-5 pb-2 text-3xl ">Testimonials</h4>
    <app-slicker-slider></app-slicker-slider>
</div>
<div class="container">
    <h4 class="text-center text-theme-red pt-5 pb-2 text-3xl">World Class Training, World Over.</h4>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="world-count text-center text-5xl text-theme-red font-700">2M+</div><br />
            <div class="world-text text-center text-xl">Engineers and Professionals Trained</div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="world-count text-center text-5xl text-theme-red font-700">700</div><br />
            <div class="world-text text-center text-xl">Training Centres - Asia's Biggest Network</div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="world-count text-center  text-5xl text-theme-red font-700">24</div><br />
            <div class="world-text text-center text-xl">Global Locations</div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="world-count text-center  text-5xl text-theme-red font-700">100+</div><br />
            <div class="world-text text-center text-xl">Industry-ready Courses</div>
        </div>
    </div>
</div>
<div class="cadd-division">
    <h4 class="text-center text-theme-red pt-5 pb-2 text-3xl">CADD Divisions</h4>
    <div class="d-flex flex-wrap">
        <div class="flex-33 d-flex flex-column align-items-center px-12 pt-12 pb-6 bg-theme-gray-50">
            <img alt="CADD Centre Overseas"
                loading="lazy" width="100" height="20" decoding="async" data-nimg="1" class="p-5"
                style="color:transparent" src="/assets/images/divisions/global.svg">
            <div class="text-2xl font-semibold mb-2 text-center text-theme-red ">CADD Centre Overseas</div>
            <div class="text-base text-center text-theme-gray ">CAD training services <br> in Asia, Africa and the
                Middle East</div>
            <div class="p-5">
                <a target="_blank" href="https://www.caddcentreglobal.com/">
                    <span class="rounded btn btn-outline p-1 inline-flex cursor-pointer flex items-center bg-transparent text-black border border-theme-red hover:bg-theme-red hover:text-white text-normal mb-8 px-5">Know
                        More</span>
                </a>
            </div>
        </div>
        <div class="flex-33 d-flex flex-column align-items-center px-12 pt-12 text-white pb-6 bg-theme-red">
            <img alt="CADD Centre Overseas"
                loading="lazy" width="100" height="20" decoding="async" data-nimg="1" class="p-5"
                style="color:transparent" src="/assets/images/divisions/global.svg">
            <div class="text-2xl font-semibold mb-2 text-center ">Customised Training</div>
            <div class="text-base text-center text-theme-gray ">Tailor made training solutions <br> across disciplines
            </div>
            <div class="p-5">
                <a target="_blank" href="https://www.caddcentreglobal.com/">
                    <span class="rounded btn btn-outline p-1 inline-flex cursor-pointer flex items-center bg-transparent text-white border border-theme-red hover:bg-theme-red hover:text-white text-normal mb-8 px-5">Know
                        More</span>
                </a>
            </div>
        </div>
        <div class="flex-33 d-flex flex-column align-items-center px-12 pt-12 pb-6 bg-theme-gray-50">
            <img alt="CADD Centre Overseas"
                loading="lazy" width="100" height="20" decoding="async" data-nimg="1" class="p-5"
                style="color:transparent" src="/assets/images/divisions/global.svg">
            <div class="text-2xl font-semibold mb-2 text-center text-theme-red ">Placement Services</div>
            <div class="text-base text-center text-theme-gray ">We take ownership in assessing <br> students and matching them with the right jobs</div>
            <div class="p-5">
                <a target="_blank" href="https://www.caddcentreglobal.com/">
                    <span class="rounded btn btn-outline p-1 inline-flex cursor-pointer flex items-center bg-transparent text-black border border-theme-red hover:bg-theme-red hover:text-white text-normal mb-8 px-5">Know
                        More</span>
                </a>
            </div>
        </div>
    </div>
</div>