<div id="carouselExampleControls" class="carousel slide carousel-dark" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-2 col-md-2 col-sm-0"></div>
          <div class="col-8 col-md-8 col-sm-12">
            <p class="d-block w-100">
              “I quickly grasped AutoCAD concepts thanks to the instructor’s clear explanations and practical exercises.”
            </p>
            <div class="float-end">
              <i>
                Akshay
              </i>
            </div>
          </div>
          <div class="col-2 col-md-2 col-sm-0"></div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-2 col-md-2 col-sm-0"></div>
          <div class="col-8 col-md-8 col-sm-12">
            <p class="d-block w-100">
              “This course made it accessible. The engaging teaching style of the instructor, along with practical exercises, boosted my confidence, and now I’m able to create professional drawings.”
            </p>
            <div class="float-end">
              <i>
                Siva
              </i>
            </div>
          </div>
          <div class="col-2 col-md-2 col-sm-0"></div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-2 col-md-2 col-sm-0"></div>
          <div class="col-8 col-md-8 col-sm-12">
            <p class="d-block w-100">
              “I was impressed by how relevant and up-to-date the content was. The course didn't just cover theory; it included real-world examples and case studies that made the learning experience dynamic. Plus, the instructor was responsive to questions and created a supportive learning environment.”
            </p>
            <div class="float-end">
              <i>
                Ramya Sri
              </i>
            </div>
          </div>
          <div class="col-2 col-md-2 col-sm-0"></div>
        </div>
      </div>
      <!-- Add more carousel items as needed -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>
