<div id="carouselExampleControls" class="carousel slide carousel-dark" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-2 col-md-2 col-sm-0"></div>
          <div class="col-8 col-md-8 col-sm-12">
            <p class="d-block w-100">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque arcu felis, at commodo purus luctus eget. Duis id interdum elit. Quisque elementum placerat orci sit amet sollicitudin. Donec quis convallis ex, vitae facilisis ante. Sed fringilla egestas facilisis. Proin risus est, tempor ut pretium nec, ullamcorper non erat. Aliquam ipsum est, consectetur ac sem a, ultrices semper sem. Fusce mi libero, consequat at egestas vel, consectetur ornare neque. Aenean vel gravida mauris. Sed dolor dolor, elementum at semper id, pulvinar in nisi. Donec eu tellus suscipit, pulvinar ipsum a, lacinia sapien. Praesent rutrum dapibus ipsum, quis aliquet augue condimentum id. In vitae ex varius sapien euismod eleifend.
            </p>
            <div class="float-end">
              <i>
                Akshay
              </i>
            </div>
          </div>
          <div class="col-2 col-md-2 col-sm-0"></div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-2 col-md-2 col-sm-0"></div>
          <div class="col-8 col-md-8 col-sm-12">
            <p class="d-block w-100">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque arcu felis, at commodo purus luctus eget. Duis id interdum elit. Quisque elementum placerat orci sit amet sollicitudin. Donec quis convallis ex, vitae facilisis ante. Sed fringilla egestas facilisis. Proin risus est, tempor ut pretium nec, ullamcorper non erat. Aliquam ipsum est, consectetur ac sem a, ultrices semper sem. Fusce mi libero, consequat at egestas vel, consectetur ornare neque. Aenean vel gravida mauris. Sed dolor dolor, elementum at semper id, pulvinar in nisi. Donec eu tellus suscipit, pulvinar ipsum a, lacinia sapien. Praesent rutrum dapibus ipsum, quis aliquet augue condimentum id. In vitae ex varius sapien euismod eleifend.
            </p>
            <div class="float-end">
              <i>
                Siva
              </i>
            </div>
          </div>
          <div class="col-2 col-md-2 col-sm-0"></div>
        </div>
      </div>
      <!-- Add more carousel items as needed -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>
