<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      @for(item of data; track item; let i=$index) {
      <button type="button" data-bs-target="#carouselExampleDark" attr.data-bs-slide-to="{{i}}" class="active" aria-current="true" aria-label="Slide 1"></button>
      }
      <!-- <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
    </div>
    <div class="carousel-inner">
      @for(item of data; track item; let i=$index) {
        <div [class]="i== 0 ?'carousel-item active':'carousel-item'" attr.data-bs-interval="{{item.time}}">
          <img [src]="item.image" width="1520" height="500" class="d-block" alt="image">
        </div>
      }
    </div>
  </div>