<div class="menu-header">
    <div class="logo">
        <img src="{{domain}}/images/logo.png" alt="" width="100">
    </div>
    <div class="d-flex align-items-center">
        <ul class="menu">
            <li><a (click)="scrollToAbout()">About </a></li>
            <li class="mega-menu-title">
                <span>Our Program</span>
                <div class="py-1 open-mega-menu">
                    <div class="d-flex gap-3 mt-3 p-3 container menu-container">
                        <div class="w-100 pe-3">
                            <div class="sub-menu-item-header" (click)="openDialog('Civil CAD')">Civil CAD Training</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Autocad Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">3DSMAX Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Google Sketchup Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Revit Architecture Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Navis Works Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Lumion Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Enscape Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Staadpro Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Revit Structure Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Etabs Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Quantity Survey Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Primavera Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Microsoft Project Course</div>
                        </div> 
                        <div class="w-100 ps-3">
                            <div class="sub-menu-item-header" (click)="openDialog('Mechanical CAD')">Mechanical CAD Training</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Autocad Mechanical Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Catia Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Creo Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">NX CAD Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Solidworks Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Ansys Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Hypermesh Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Hvac Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Revit Mep Course</div>
                            <div class="sub-menu-item-header" (click)="openDialog('Electrical CAD')">Electrical CAD Training</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Electrical CAD')">Autocad Electrical Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Electrical CAD')">Electrical cad Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Electrical CAD')">E-Plan Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Electrical CAD')">Revit Mep Course</div>
                        </div> 
                        <div class="w-100 ps-3">
                            <div class="sub-menu-item-header" (click)="openDialog('BIM')">BIM Courses</div>
                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">Autocad Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">Revit Architecture Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">Revit Structure Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">Revit Mep Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">Navis Works Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">BIM Collabrate Pro</div>
                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">Primavera Course</div>
                            <div class="sub-menu-item-header" (click)="openDialog('Project Management')">Project Management Training</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Project Management')">Autocad Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Project Management')">Quantity Survey Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Project Management')">Primavera P6 Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Project Management')">Microsoft Project Course</div>
                        </div>
                        <div class="w-100 ps-3">
                            <div class="sub-menu-item-header" (click)="openDialog('Architecture CAD')">Architecture CAD Courses</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Autocad Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">3DSMAX Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Google Sketchup Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Revit Architecture Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Vray Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Lumion Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Enscape Course</div>
                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Photoshop Course</div>
                        </div>                   
                    </div>
                </div>
            </li>
            <li class="student-corner">
               <span>Student Corner</span>
               <div class="py-1 open-mega-menu">
                   <div class="mt-3 p-2 container menu-container">
                        <div class="sub-menu-item-link">Gallery</div>
                        <div class="sub-menu-item-link">Project</div>
                        <div class="sub-menu-item-link">Placement</div>
                   </div>
               </div>
            </li>
            <li>Career</li>
            <li>Contact Us</li>
        </ul>
        <div class="menu-responsive position-static">
            <button class="btn btn-transparent" (click)="isMenuOpen = !isMenuOpen">
                @if (!isMenuOpen) {
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                }
                @else {
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                }
            </button>
            @if (isMenuOpen) {
                <div class="position-absolute top-16 right-0 z-9 w-95">
                    <div class="bg-white border rounded">
                        <nav>
                            <div class="d-flex flex-column menu-list">
                                <a class="menu-item" (click)="scrollToAbout();">About</a>
                                <a class="menu-item d-flex justify-content-between" (click)="programCourseOpen = !programCourseOpen">
                                    <span>Our Programs</span>
                                    <span class="down-caret">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                                        </svg>
                                    </span>
                                </a>
                                @if (programCourseOpen) {
                                    <a  (click)="programCourseOpen = !programCourseOpen; isMenuOpen = !isMenuOpen">
                                        <div class="w-100 px-3">
                                            <div class="sub-menu-item-header"(click)="openDialog('Civil CAD')">Civil CAD Training</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Autocad Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">3DSMAX Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Google Sketchup Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Revit Architecture Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Navis Works Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Lumion Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Enscape Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Staadpro Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Revit Structure Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Etabs Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Quantity Survey Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Primavera Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Civil CAD')">Microsoft Project Course</div>
                                        </div> 
                                        <div class="w-100 px-3">
                                            <div class="sub-menu-item-header" (click)="openDialog('Mechanical CAD')">Mechanical CAD Training</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Autocad Mechanical Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Catia Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Creo Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">NX CAD Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Solidworks Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Ansys Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Hypermesh Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Hvac Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Mechanical CAD')">Revit Mep Course</div>
                                            <div class="sub-menu-item-header" (click)="openDialog('Electrical CAD')">Electrical CAD Training</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Electrical CAD')">Autocad Electrical Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Electrical CAD')">Electrical cad Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Electrical CAD')">E-Plan Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Electrical CAD')">Revit Mep Course</div>
                                        </div> 
                                        <div class="w-100 px-3">
                                            <div class="sub-menu-item-header" (click)="openDialog('BIM')">BIM Courses</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">Autocad Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">Revit Architecture Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">Revit Structure Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">Revit Mep Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">Navis Works Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">BIM Collabrate Pro</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('BIM')">Primavera Course</div>
                                            <div class="sub-menu-item-header" (click)="openDialog('Project Management')">Project Management Training</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Project Management')">Autocad Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Project Management')">Quantity Survey Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Project Management')">Primavera P6 Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Project Management')">Microsoft Project Course</div>
                                        </div>
                                        <div class="w-100 px-3">
                                            <div class="sub-menu-item-header" (click)="openDialog('Architecture CAD')">Architecture CAD Courses</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Autocad Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">3DSMAX Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Google Sketchup Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Revit Architecture Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Vray Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Lumion Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Enscape Course</div>
                                            <div class="sub-menu-item-link" (click)="openDialog('Architecture CAD')">Photoshop Course</div>
                                        </div> 
                                    </a>
                                }
                                <a class="menu-item d-flex justify-content-between" (click)="studentCornerOpen = !studentCornerOpen">
                                    <span>Student Corner</span>
                                    <span class="down-caret">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                                        </svg>
                                    </span>
                                </a>
                                @if (studentCornerOpen) {
                                    <a>
                                        <div class="w-100 px-3">
                                            <div class="sub-menu-item-link">Gallery</div>
                                            <div class="sub-menu-item-link">Project</div>
                                            <div class="sub-menu-item-link">Placement</div>
                                        </div>
                                    </a>
                                }
                                <a class="menu-item">
                                    Career
                                </a>
                                <a class="menu-item">
                                    Contact Us
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            }
        </div>
    </div>
</div>