/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.form-field-density(-3);
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  )
));

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    @include mat.all-component-themes($theme);
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
.text-5xl {
    font-size: 3rem !important;
    line-height: 1 !important;
}

.text-3xl {
    font-size: 1.875rem !important;
    line-height: 2.25rem !important;
}

.text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
}

.text-17 {
    font-size: 17px;
    font-weight: 300;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-15 {
    font-size: 15px;
}

.font-700 {
    font-weight: 700;
}

.font-600 {
    font-weight: 600;
}
