<div class="container">
    <h3 class="text-center color-red">CADD Centre: Pioneering Edtech Transformation for Over 35 Years</h3>
    <h4 class="text-center">Bridging Learning and Careers</h4>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <p>For over three decades, CADD Centre has been a trusted institution, enriching the careers of over 2.5 million learners worldwide with cutting-edge courses. Our recent launch of Electric Vehicle Technology and Generative AI job role-based courses underscores our dedication to preparing youth for a sustainable future. <br/>

                Renowned for hosting Job Pakka Fair 2023, India's largest talent search, offering 15,000 job openings across diverse cities and industries. With 40,000 students registered and 8,000 already on their path to dream careers, our legacy of transformation and empowerment thrives.<br/>
                
                Beyond the classroom, we inspire the younger generation to transcend boundaries and pursue sustainable development in their respective fields. At CADD Centre, we are committed to shaping tomorrow's workforce and fostering a brighter future.</p>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <p class="text-theme-red text-3xl font-bold text-center">2M+</p>
                    <p class="text-center text-[15px] font-semibold leading-5 ">Engineers and <br> Professionals trained</p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p class="text-theme-red text-3xl font-bold text-center">2M+</p>
                    <p class="text-center text-[15px] font-semibold leading-5 ">Engineers and <br> Professionals trained</p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p class="text-theme-red text-3xl font-bold text-center">2M+</p>
                    <p class="text-center text-[15px] font-semibold leading-5 ">Engineers and <br> Professionals trained</p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p class="text-theme-red text-3xl font-bold text-center">2M+</p>
                    <p class="text-center text-[15px] font-semibold leading-5 ">Engineers and <br> Professionals trained</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h4 class="text-center">Hear from our students</h4>
</div>
<div class="container">
    <h4 class="text-center">World class training, world over.</h4>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="world-count text-center">2M+</div><br/>
            <div class="world-text text-center">Engineers and Professionals trained</div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="world-count text-center">2M+</div><br/>
            <div class="world-text text-center">Engineers and Professionals trained</div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="world-count text-center">2M+</div><br/>
            <div class="world-text text-center">Engineers and Professionals trained</div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="world-count text-center">2M+</div><br/>
            <div class="world-text text-center">Engineers and Professionals trained</div>
        </div>
    </div>
</div>
<div class="cadd-division">
    <h4 class="text-center">CADD Divisions</h4>
    <div class="row">

    </div>
</div>