<h2 mat-dialog-title class="header">Enquiry From</h2>
<mat-dialog-content>
    <form [formGroup]="enquiryForm">
        <div class="form-floating mb-1">
            <input type="text" formControlName="name" class="form-control" id="floatingInput" placeholder="Name">
            <label for="floatingInput">Name</label>
        </div>
        @if (f.name.errors && f.name.touched) {
            <div class="mb-3 color-red">
                Name is Required
            </div>
        }
        <div class="form-floating mb-1">
            <input formControlName="email" class="form-control" id="floatingPassword" placeholder="Email">
            <label for="floatingPassword">Email</label>
        </div>
        @if (f.email.hasError('required') && f.email.touched) {
            <div class="mb-3 color-red">
                Email is Required
            </div>
        }
        @else if (f.email.hasError('pattern') && f.mobileNumber.touched) {
            <div class="mb-3 color-red">
                Please enter valid Email Address
            </div>
        }
        <div class="form-floating mb-1">
            <input type="number" formControlName="mobileNumber" class="form-control" id="floatingMobile" placeholder="MobileNumber">
            <label for="floatingMobile">Mobile Number</label>
        </div>
        @if (f.mobileNumber.hasError('required') && f.mobileNumber.touched) {
            <div class="mb-3 color-red">
                Mobile Number is Required
            </div>
        }
        @else if (f.mobileNumber.hasError('pattern') && f.mobileNumber.touched) {
            <div class="mb-3 color-red">
                Mobile Number must be 10 digits
            </div>
        }
        <div class="form-floating mb-1">
            <select class="form-select" formControlName="course" id="floatingSelect" aria-label="Floating label select example">
              <option selected>Open this select menu</option>
              @for(item of courses; track item) {
                <option [value]="item">{{item}}</option>
              }
            </select>
            <label for="floatingSelect">Courses</label>
        </div>
        @if (f.course.errors && f.course.touched) {
            <div class="mb-3 color-red">
                Course is Required
            </div>
        }
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button class="btn btn-light" mat-dialog-close>Cancel</button>
    <button class="btn btn-secondary ms-1" (click)="submitResponse()">Submit</button>
</mat-dialog-actions>